<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!-- <link rel="icon" type="image/png" href="img/Logo.png"> -->
      <link rel="shortcut icon" type="image/png" href="img/Logo.png"/>



      <nav class="indigo darken-4">
        <div class="container nav-wrapper indigo darken-4">
          <a class="brand-logo">Anonym</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="blue-text text-darken-2">
                <button class="btn waves-effect waves-light" type="submit" name="action" style="margin: 10px 10px;">Sign in</button>
            </li>
            <li class="blue-text text-darken-2">
                <button class="btn waves-effect waves-light" type="submit" name="action" style="margin: 10px 10px;">Sign up</button>
            </li>
            <li class="blue-text text-darken-2">
                <button class="btn waves-effect waves-light" type="submit" name="action" style="margin: 10px 10px;">Profile</button>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container cyan lighten-2"> haha
      </div>

    </body>
  </html>